.base {
  background-image: url("/static/images/louis-hansel-shotsoflouis-ZYjpgrFeWD0-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.collapse.show {
  visibility: visible;
}

.error{
  background-image: url("/static/images/empty.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
}